
.Searchbar-suggestion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 6px;
  position: relative;
  width: 100%;
  justify-items: stretch; 
  overflow: hidden;
  justify-items: center;
}


