/* homepage body styling */
.body-container {
    background-color: transparent;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    height: 700px;
  }

/* tech circle styling */
.tech-circle {
  background-image: url('../img/techcirclepng.png');
  position: absolute;
  top: 17%;
  left: 47%;
  background-color:transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
  width: 50%;
}

/* styling for title div element under banner*/
.homepagetitlebox {
  border-radius: 25px;
  position: absolute;
  left: 15%;
  top: 30%;
  width: 30%;
  font-weight: 1000;
  text-align: left;
  font-size: 95px;
  color: rgb(173, 216, 230);
  display: flex;
  justify-content: left;
}

.homepagedescriptionbox {
  border-radius: 25px;
  position: absolute;
  left: 15%;
  top: 50%;
  width: 30%;
  font-weight: 100;
  text-align: left;
  color: rgb(128, 128, 128);
  font-size: 25px;
  display: flex;
  justify-content: left;
}

.Homepage-body-container {
  background: radial-gradient(circle, #2e2e2e, #000000);
  min-height: 83vh;
  top: 400px;
  text-align: center;
  margin-bottom: -20px;
  width: 100%;
}