services:
  frontend:
    image: ghcr.io/vchen7629/atlaxiom-frontend:main
    ports: 
      - 443:443 #443 for https, 80 for http, I'm running frontend using https so i run it through port 443
    volumes:
      - /etc/letsencrypt/live/atlaxiom.com/fullchain.pem:/etc/letsencrypt/live/atlaxiom.com/fullchain.pem:ro # Read only lets encrypt generated cert
      - /etc/letsencrypt/live/atlaxiom.com/privkey.pem:/etc/letsencrypt/live/atlaxiom.com/privkey.pem:ro # Read only lets encrypt generated private key
      - /etc/ssl/certs/cloudflare.crt:/etc/ssl/certs/cloudflare.crt:ro 
    depends_on:
      loginapi: 
        condition: service_healthy
    command: ["serve", "-s", "dist", "-l", "443", "--ssl-cert", "/etc/letsencrypt/live/atlaxiom.com/fullchain.pem", "--ssl-key", "/etc/letsencrypt/live/atlaxiom.com/privkey.pem", "--cors" ]


  loginapi: 
    image: ghcr.io/vchen7629/atlaxiom-backend:main
    ports:
      - 8443:8443 # alternative port for https since 443 is in use by frontend
    secrets:
      - node-env
      - mongodb-db-uri
      - access-token-secret
      - refresh-token-secret
    volumes:
      - /etc/letsencrypt/live/api.atlaxiom.com/privkey.pem:/etc/letsencrypt/live/api.atlaxiom.com/privkey.pem:ro # Read only lets encrypt generated cert
      - /etc/letsencrypt/live/api.atlaxiom.com/fullchain.pem:/etc/letsencrypt/live/api.atlaxiom.com/fullchain.pem:ro # Read only lets encrypt generated private key\
      
    environment:
      - NODE_ENV_FILE=/run/secrets/node-env
      - DATABASE_URI_FILE=/run/secrets/mongodb-db-uri
      - ACCESS_TOKEN_SECRET_FILE=/run/secrets/access-token-secret
      - REFRESH_TOKEN_SECRET_FILE=/run/secrets/refresh-token-secret
    healthcheck:
      test: ["CMD-SHELL", "curl -k --retry 3 --retry-connrefused https://127.0.0.1:443 || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 3
      start_period: 30s

secrets:
  node-env:
    file: ./loginapi/secrets/node_env.txt
  mongodb-db-uri:
    file: ./loginapi/secrets/database_uri.txt
  access-token-secret:
    file: ./loginapi/secrets/access_token_secret.txt
  refresh-token-secret:
    file: ./loginapi/secrets/refresh_token_secret.txt