services:
  frontend:
    image: ghcr.io/vchen7629/atlaxiom-frontend:main
    container_name: frontend 
    ports: 
      - 8080:8080
    depends_on:
      loginapi: 
        condition: service_healthy


  loginapi: 
    image: ghcr.io/vchen7629/atlaxiom-backend:main
    container_name: loginapi
    secrets:
      - node-env
      - mongodb-db-uri
      - access-token-secret
      - refresh-token-secret
    environment:
      - NODE_ENV_FILE=/run/secrets/node-env
      - DATABASE_URI_FILE=/run/secrets/database-uri
      - ACCESS_TOKEN_SECRET_FILE=/run/secrets/access-token-secret
      - REFRESH_TOKEN_SECRET_FILE=/run/secrets/refresh-token-secret
    expose: 
      - 3005
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3005 || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 3
      start_period: 30s

secrets:
  node-env:
    file: ./login api/secrets/node_env.txt
  mongodb-db-uri:
    file: ./login api/secrets/database_uri.txt
  access-token-secret:
    file: ./login api/secrets/access_token_secret.txt
  refresh-token-secret:
    file: ./login api/secrets/refresh_token_secret.txt