services:
  frontend:
    image: ghcr.io/vchen7629/atlaxiom-frontend
    container_name: frontend 
    ports: 
      - 8080:8080
    #depends_on:
      #loginapi: 
        #condition: service_healthy


  #loginapi: 
    #image: ghcr.io/vchen7629/atlaxiom-backend
    #container_name: loginapi
    #secrets: # access file to get env variables on vps
    #  - db-
    #environment:
    #  - name=value
    #expose: 
    #  - 3005
    #healthcheck:
    #  test: ["executable", "arg"]
    #  interval: 1m30s
    #  timeout: 30s
    #  retries: 5
    #  start_period: 30s