services:
  frontend:
    image: ghcr.io/vchen7629/atlaxiom-frontend:main
    ports: 
      - 443:443 #443 for https, 80 for http, I'm running frontend using https so i run it through port 443
    volumes:
      - /etc/ssl/certs/cloudflare.crt:/etc/ssl/certs/cloudflare.crt:ro # Read only cloud flare crt
      - /etc/ssl/private/cloudflare.key:/etc/ssl/private/cloudflare.key:ro # Read only cloud flare private key
    depends_on:
      loginapi: 
        condition: service_healthy


  loginapi: 
    image: ghcr.io/vchen7629/atlaxiom-backend:main
    secrets:
      - node-env
      - mongodb-db-uri
      - access-token-secret
      - refresh-token-secret
    environment:
      - NODE_ENV_FILE=/run/secrets/node-env
      - DATABASE_URI_FILE=/run/secrets/mongodb-db-uri
      - ACCESS_TOKEN_SECRET_FILE=/run/secrets/access-token-secret
      - REFRESH_TOKEN_SECRET_FILE=/run/secrets/refresh-token-secret
    expose: 
      - 3005
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3005 || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 3
      start_period: 30s

secrets:
  node-env:
    file: ./loginapi/secrets/node_env.txt
  mongodb-db-uri:
    file: ./loginapi/secrets/database_uri.txt
  access-token-secret:
    file: ./loginapi/secrets/access_token_secret.txt
  refresh-token-secret:
    file: ./loginapi/secrets/refresh_token_secret.txt