.pagination {
  background-color: lightgray;
  width: 220px;
  position: relative;
  left:1150px;
  top: 6180px;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}

.button-right {
  background-color: gray;
  width: 30px;
  border-radius: 7px;
  position: relative;
  left: 10px
}

.button-left {
  background-color: gray;
  width: 30px;
  border-radius: 7px;
  position: relative;
  margin-left: -10px;
  margin-right: 10px;
}


.suggestion-left {
  background-color: white;
  width: 900px;
  height: 220px;
  position: relative;
  padding: 15px;
  border-radius: 25px;

}

.suggestion-left-container {
  background-color: rgb(68, 65, 65);
  width: 900px;
  position: relative;
  left: 800px;
  top: -500px;
  padding: 15px;
}

.suggestion-name-left-container {
  position: relative;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: fit-content;
  top: -185px;
  left: 135px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black
}
.suggestion-image-left {
  height: 180px;
  width:124px;
  position: relative;
  border: 2px solid yellow
  
}
.suggestion-carddata-container {
  background-color: gray;
  top: 70px;
  left: 150px;
  width: fit-content;
  position: absolute;
  height: 120px;
}
.suggestion {
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.suggestion-container {
  max-height: 450px;
  overflow-y: auto;
  position: relative;
  margin-top: 220px;
  width: 700px;
  border: 3px solid black;
}



.suggestionbox {
  width: 100%;
  display: flex
}

.suggestion-image {
  width: 50px;
  height: 50px;
  position: relative;
}


.suggestion-name-container {
  width: 600px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.suggestion-name {
  color: black;
  font-weight: bold;
}
  
.suggestion-list {
    height: auto;
    width: 600px;
    background-color: darkgray;
    padding: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
  
  .placeholder-box {
    background-color: gray;
    width: 846px;
    height: 594px;
    position: absolute;
    top: 240px;
    left: 850px;
    border-radius: 25px;
    border: 2px solid black;
  }

  .YugiohCardProp {
    width: auto;
    height: auto;
    background-color: #9e1b32;
    padding: 25px;
    margin-bottom: 2px;
    position: absolute;
    border-radius: 25px;
    top: 240px;
    left: 850px;
    border: 3px solid black;
    box-shadow: 0 0 30px yellow;
    display: flex;
    
  }
  
  .descriptioncontainer {
    background-color: #22092C;
    color: white;
    position: absolute;
    display: flex;
    text-align: center;
    right: 0.1;
    width: 75%;
    top: 425px;
    height: auto;
    max-height: 130px;
    overflow-y: auto;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid goldenrod;
    font-size: 15px;
  }
  
  .cardpricer {
    width: 200px;
    height: 200px;
    background-color: gray;
  }
  
  .cardpricecontainer {
    background-color: red;
    position: relative;
    display: flex;
    
    height: auto;
    width: auto;
    right: 60%;
    
    border-radius: 20px;
    top: 7rem;
    font-size: 1px;
    
  }
  
  .Cardimage {
    position: absolute;
    margin-top: 90px;
    box-shadow: 0px 0px 20px yellow;
    width: 200px;
    left: 38.5%;
    max-height: 291.5px;
    
    
  }
  
  .CardName {
    position: relative;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 400px;
    font-size: 15px;
    height: auto;
    max-height: 70px;
    bottom: 5px;
    border-radius: 45px;
    color: gold;
    background-color: #22092C;
    transform: translateX(-50%);
    border: 3px solid white;
    box-shadow: 0px 0px 15px red;
  }
  
  .Cardtype {
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    min-width: 190px;
    height: auto;
    max-height: 50px;
    padding: 5px;
    border-radius: 10px;
    color: gold;
    background-color: #22092C;
    border: 2px solid white;
    left: -715px;
    top: 120px;
  }
  
  .CardRace{
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    min-width: 190px;
    height: auto;
    max-height: 45px;
    border-radius: 10px;
    color: gold;
    background-color: #22092C;
    border: 2px solid white;
    margin-top: 190px;
    left: -905px;
  }
  
  .Cardattribute {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  min-width: 190px;
  height: auto;
  max-height: 45px;
  border-radius: 10px;
  color: gold;
  background-color: #22092C;
  border: 2px solid white;;
  margin-top: 260px;
  left: -1095px;
  
  }
  
  .Cardlevel_Rank {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  min-width: 190px;
  height: auto;
  max-height: 45px;
  border-radius: 8px;
  color: gold;
  background-color: #22092C;
  border: 2px solid white;
  margin-top: 330px;
  left: -1285px;
  
  }
  
  
  
  .CardArchetype {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 170px;
    height: auto;
    max-height: 70px;
    border-radius: 8px;
    color: gold;
    background-color: #22092C;
    border: 2px solid white;
    margin-top: 120px;
    right: 480px;
    margin-left: -180px;
  }
  
  
  
  .Cardattack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -880px;
    margin-top: 480px;
    left: -30px;
    bottom: 80px;
    font-size: 18px;
    width:auto;
    height: 41px;
    min-width: 160px;
    border-radius: 15px;
    color: red;
    background-color: #22092C;
    border: 2px solid goldenrod;
  }
  .Carddefense {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    left: -390px;
    margin-top: 500px;
    top: -35px;
    font-size: 18px;
    width:auto;
    min-width: 160px;
    padding: 5px;
    border-radius: 15px;
    color: cyan;
    background-color: #22092C;
    border: 2px solid goldenrod;
  }

  .errormessage {
    background-color: transparent;
    text-align: center;
    position: absolute;
    margin-top: 210px;
    left: 270px;
    padding: 5px;
    color: white;
  }
  
  .clear-button {
    cursor: pointer;
    background: none;
    border: none;
    color: black; /* Adjust the color as needed */
    margin-right: 25px; /* Adjust the margin as needed */
  }

  .search-icon {
    margin-right: 8px; /* Adjust the margin as needed */
  }
  
  /* Style the container for the search input */
  .search-input {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .search-bar-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
  }

  .Input-Wrapper {
    background-color: lightblue;
    width: 700px;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: left;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: royalblue;
  }
  