/*Profile information container styling*/
.Profile-content-container {
    background-color: rgb(26, 25, 25);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%px;
    margin-left: 30px;
    border-radius: 25px;
    padding: 20px;
}

/*profile header styling*/
    .Profile-header-container {
        height: fit-content;
        padding-left: 30px;
        padding-bottom: 40px;
        border-bottom: 3px solid rgba(128, 128, 128, 0.377);
        color: goldenrod;
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .Profile-title-text {
        margin-left: 20px
    }

/* profile body styling*/
.profile-body-container {
    margin-top: 20px;
    height: fit-content;
    padding: 10px;
}

.profile-username-container,
.profile-email-container,
.profile-roles-container {
    display: flex;
    height: fit-content;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 10px;
    justify-content: space-between;
}

.profile-username-header,
.profile-email-header,
.profile-roles-header {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.profile-username-body,
.profile-email-body,
.profile-roles-body {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 80px;
    color: darkorange;
}

.description-container {
    display: flex;
    height: fit-content;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 10px;
    justify-content: space-between;
}

.description-body {
    background-color: gray;
    border: 2px solid black;
    padding: 10px
}
