.Profile-side-nav-container {
    border-right: 2px solid gray;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 20%;
    height: 90%;
}

.Profile-side-nav-button {
    background-color: rgb(26, 25, 25);
    margin-top: 10px;
    margin-bottom: 5%;
    width: 70%;
    padding: 10px;
    color: goldenrod;
    border: 2px solid rgb(26, 25, 25);
}

.User-setting-nav-button,
.Owned-cards-nav-button,
.security-nav-button,
.delete-nav-button {
    background-color: rgb(26, 25, 25);
    width: 70%;
    margin-bottom: 5%;
    padding: 10px;
    color: goldenrod;
    border: 2px solid rgb(26, 25, 25);
}


.Profile-side-nav-button:hover,
.User-setting-nav-button:hover,
.Owned-cards-nav-button:hover,
.security-nav-button:hover,
.delete-nav-button:hover {
   border-bottom-color: gray;
}

.button-text {
    margin-left: 10px;
    color: goldenrod;
}

.button-icon {
    color: gray
}