/*dash header button containers*/
.Menu-container-left,
.Menu-container-right  {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    list-style: none;
  }

/*logout button*/
.logout-button  {
  background: transparent;
  color: white;
  border: transparent;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  width: 120px;
  height: 70px;
  text-align: center;
  margin-right: 10px;
}

.logout-button:hover {
  border-bottom: 2px solid white;
  color: gold;
}
  
/*header styling*/

.header {
    display: flex;
    justify-content: space-between;
    background: none rgb(25, 25, 25); color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
  
  }
  
  .header::after {
    content: '';
    display: block;
    height: 1px; 
    background-color: gold; 
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .website-title { 
    color: goldenrod;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: calc(18px + 0.390625vw);
  }

/* Styles for the dropdown button */
.dropdown-btn {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  position: relative
}

.dropdown-btn.active {
  background-color: transparent; /* Change color when the dropdown is active */
}

/* Styles for the dropdown menu */
.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: gray;
  top: 70px;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  border-bottom: 1px solid #555; /* Add a border between dropdown items */
}

/* mobile devices */
@media screen and (width <= 480px) {
/*changing the navigation from buttons to the dropdownmenu*/
  .Menu-container-left,
  .Menu-container-right {
    display: none;
  }

  .dropdown-btn {
    display: block;
    
  }

  .dropdown {
    display: flex;
  }

}

/* medium Devices (iPads, Landscape tablets) */
@media screen and (481px <= width <= 768px) {
  .Menu-container-left,
  .Menu-container-right {
    display: none;
  }

  .dropdown-btn {
    display: block;
  }

  .dropdown {
    display: flex;
  }

  
}

/* medium-large devices (laptops and small screen) */
@media screen and (769px <= width <= 1024px) {
  /*changing the navigation from buttons to the dropdownmenu*/
  .Menu-container-left,
  .Menu-container-right {
    display: none;
  }
  
  .dropdown-btn {
    display: block;
    left: 0px;
  }

  .dropdown {
    display: flex;
  }


}

