/*login body styling*/
.login-page-background-container {
    height: 82.5vh;
    top: 400px;
    text-align: center;
<<<<<<< HEAD
=======
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> 14ef751 (testing)
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
<<<<<<< HEAD
}

/*Login form container styling*/

.login-page-form-container {
    background-color: rgb(27, 25, 25);
    width: 35%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 15px 0.5px orange;
  }
  
/*Login form elements styling*/
.Login-form-title {
position: relative;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 25px;
    padding: 25px;
    color: goldenrod;
    border-bottom: 2px solid rgba(128, 128, 128, 0.205)
}

.Login-form-body {
    position: relative;
    width: 80%;
    height: fit-content;
}

.Login-username-container,
.Login-password-container {
    height: fit-content;
    margin-bottom: 20px;
    padding-bottom: 30px;

}

.Login-submit-container {
    position: relative;
    height: 100px;
    margin-bottom: 50px;
    bottom: 10px;
}

.login-username-input,
.login-password-input {
    background: linear-gradient(to left, rgba(128, 128, 128, 0.671), black);
    width: 87%;
    height: 50px;
    padding-left: 10px;
    color: white;
    border: 2px solid gray;
    transition: 0.3s;
}

.login-username-input:hover,
.login-password-input:hover {
  border-radius: 15px;  
  border: 2px solid orange
}

.Login-submit-button {
    background-color: darkorange;
    width: 87%;
    padding-left: 10px;
    height: 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 45px;
}

.Login-submit-button-text {
    color: white;
    font-size: 25px
}

/* login label styling */
.login-username-label {
    position: absolute;
    left: 9%;
    top: 11px;
    font-size: 20px;
    transition: top 0.2s, font-size 0.3s;
    pointer-events: none;
    color: orange;
}

.login-password-label {
    position: absolute;
    left: 9%;
    bottom: 212px;
    font-size: 20px;
    transition: top 0.2s, font-size 0.3s;
    pointer-events: none;
    color: orange;
}

.login-username-input:focus + .login-username-label,
.login-username-input:not(:placeholder-shown) + .login-username-label {
  top: -10px;
  font-size: 16px; 
  background-color: rgb(27, 25, 25);
  padding-left: 5px;
  padding-right: 5px;
}

.login-password-input:focus + .login-password-label,
.login-password-input:not(:placeholder-shown) + .login-password-label {
  top: 90px;
  font-size: 16px; 
  height: fit-content;
  background-color: rgb(27, 25, 25);
  padding-left: 5px;
  padding-right: 5px;
}

/* error messages styling*/
.error-border {
    border: 2px solid orangered;
}

.error-message-container {
    background-color: transparent;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 86.5%;
    padding: 10px;
    color: orangered;
    border: 1px solid red
}

.error-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    color: red;
    margin-top: -45px;
=======
>>>>>>> 14ef751 (testing)
}