.My-Cards-Container {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.My-Cards-box {
    background-color: rgb(26, 25, 25);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    padding: 20px;
}

.My-Cards-Title {
    text-align: center;
    font-size: 35px;
    color: goldenrod;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(128, 128, 128, 0.377);
    margin-top: 10px;
    margin-bottom: 10px;
}

.My-Cards-body-container {
    margin-top: 10px;
    height: 100%;
    display: inline-flex
}

/*Sidebar styling */

.My-Cards-Sidebar-container {
    background-color: rgba(65, 57, 57, 0.356);
    width: 18%;
    margin-left: 20px;
    border-radius: 15px;  
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-direction: column;
}

/* Sidebar searchbar styling */
.My-Cards-Search-Bar-container {
    background-color: goldenrod;
    width: 80%;
    height: 30px;
    border-radius: 15px;  
    padding-left: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 15px black;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.My-Cards-Search-input {
    display: flex;
    width: 100%;
}

.My-Cards-Clear-button {
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    margin-right: 25px;
}

/* Sidebar statistics styling */
.My-Cards-Sidebar-Statistics-title {
    position: relative;
    margin-top: 15%;
    font-size: 25px;
    color: goldenrod;
    left: 10%;
}

.My-Cards-tally,
.My-Cards-last-added,
.My-Cards-last-deleted {
    position: relative;
    margin-top: 8%;
    font-size: 18px;
    color: white;
    width: 80%;
    left: 10%;
}

/*Display for owned Cards styling*/

.My-Cards-Display-Container {
    width: 77%;
    height: 100%;
    margin-left: 50px;
    overflow-y: auto;
    padding: 15px;
    background-color: rgba(26, 25, 25, 0.747);
    box-shadow: 0px 0px 15px rgb(19, 18, 18);
    border-radius: 20px;
}

.My-Cards-Display-Container:hover {
    box-shadow: 0px 0px 15px rgb(95, 89, 89);
}

.My-Card-Display-Grid {
    display: Grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-height: 100px;
}

.My-Cards-Display-Container::-webkit-scrollbar {
    width: 13px; 
}
    
.My-Cards-Display-Container::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 5px; 
    border: 1px solid black;
}

.my-card-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
    height: fit-content;
    margin-left: 20px;
}

.my-card-name {
    margin-bottom: 10px;
    color: goldenrod;
    border-radius: 15px;
    font-size: 15px;
    max-width: 130px;
    height: 50px;
    text-align: center;
    padding: 5px;
}

.my-card-image {
    max-height: 200px;
    margin-bottom: 10px;
}


/* Collection card owned amount styling*/
.my-card-owned-amount-container {
    display: flex;
    width: 60%;
    height: fit-content;
    align-items: center;
}

.my-card-owned-amount-header {
    color: goldenrod;
    font-size: 15px;
    width: fit-content;
    text-align: center;
    margin-right: 5px;
}

.my-card-owned-amount-number {
    color: gray;
    font-size: 15px;
    margin-right: 20%;
}

.my-card-owned-amount-change-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    margin-right: 20%
}

.my-card-owned-amount-increase-icon,
.my-card-owned-amount-decrease-icon {
    height: 20px;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer
}

.my-card-owned-delete-icon {
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 0.582);
    cursor: pointer
}

/* Styling for selected Card */
.My-Card-selected-back-icon {
    position: relative;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: none;
    color: gold;
    cursor: pointer;
    left: 94%;
}

.My-Card-selected-card-item {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 620px;
    display: flex;
}

/* Scrollbar styling */
.My-Card-selected-card-item-left::-webkit-scrollbar {
    width: 13px; 
}
    
.My-Card-selected-card-item-left::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 5px; 
    border: 1px solid black;
}

.My-Card-selected-card-name {
    position: relative;
    color: goldenrod;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10%;
}

.My-Card-selected-card-name {
    position: relative;
    color: goldenrod;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10%;
}

.My-card-selected-card-image {
    position: relative;
    max-height: 500px;
    width: auto;
}

.My-Card-selected-owned-amount {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(65, 57, 57, 0.356);
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    color: gold;
    width: fit-content;
}

.My-Card-selected-card-item-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    padding-right: 5%;
    max-height: 100%;
    overflow-y: auto
}

.My-Card-selected-card-type-container,
.My-Card-selected-card-race-container,
.My-Card-selected-card-attribute-container,
.My-Card-selected-card-archetype-container,
.My-Card-selected-card-level-container,
.My-Card-selected-card-linkval-container,
.My-Card-selected-card-pendscale-container,
.My-Card-selected-card-atk-container,
.My-Card-selected-card-def-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.My-Card-selected-card-type-header,
.My-Card-selected-card-race-header,
.My-Card-selected-card-attribute-header,
.My-Card-selected-card-archetype-header,
.My-Card-selected-card-level-header,
.My-Card-selected-card-linkval-header,
.My-Card-selected-card-pendscale-header,
.My-Card-selected-card-atk-header,
.My-Card-selected-card-def-header {
    background-color: rgba(65, 57, 57, 0.356);
    padding: 10px;
    border-radius: 10px;
    color: gold;
    margin-right: 10px;
}