.My-Cards-box {
    background-color: rgb(26, 25, 25);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    min-height: 68vh;
    border-radius: 25px;
    padding: 20px;
    margin-top: 2%;
}

/*header and related items styling*/
.My-Cards-header {
    position: relative;
    justify-content: space-evenly;
    display: flex;
    width:100%;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.My-Cards-Title {
    font-size: 40px;
    color: goldenrod;
    margin-left: 5%;
}

.My-Cards-Search-Bar-container {
    width: fit-content;
    position: relative;
    display: flex;
    left: 30%;
    top: 15%;
    transform: translateX(-50%);
}

.My-cards-search-icon {
    position: absolute;
    left: 3%;
    top: 25%;
}

.My-Cards-Clear-button {
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 10%;
    color: gray;
    background-color: transparent;
    border-color: transparent;
}

.My-Cards-Search-input {
    width: 500px;
    height: 50px;
    padding-left: 10%;
    transition: 0.3s;
    color: goldenrod;
    border: 2px solid gray;
    border-radius: 25px;
}



.list-view-setting-button-owned-card {
    background-color: transparent;
    color: rgb(128, 128, 128);
    border-color: transparent;
    margin-left: 40%;
    margin-right: -1%;
}

.gallery-view-setting-button-owned-card {
    background-color: transparent;
    color: rgb(128, 128, 128);
    border-color: transparent;
}

.list-view-setting-button-owned-card :hover,
.gallery-view-setting-button-owned-card :hover {
    color: gold;
}

/*Grid Display for owned Cards styling*/
.My-Card-Display-Grid {
    display: Grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    position: relative;
    min-height: 50vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow-y: auto;
    background-color: rgba(26, 25, 25, 0.747);
    box-shadow: 0px 0px 15px rgb(19, 18, 18);
}

.My-Cards-Display-Container-Grid::-webkit-scrollbar {
    width: 13px; 
}
    
.My-Cards-Display-Container-Grid::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 5px; 
    border: 1px solid black;
}

.my-card-item {
    display: flex;
    flex-direction: column;
    width: fit-content;     
    margin: 10px;
    height: fit-content;
    margin-left: 20px;
}

.my-card-name {
    margin-bottom: 10px;
    color: goldenrod;
    border-radius: 15px;
    font-size: 15px;
    max-width: 130px;
    height: 50px;
    text-align: center;
    padding: 5px;
}

.my-card-image {
    max-height: 200px;
    margin-bottom: 10px;
}

/*List Display for owned Cards styling */
.list-view-container {
    position: relative;
    min-height: 50vh;
    max-height: 50vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    width: 95%;
    height: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow-y: auto;
    background-color: rgba(26, 25, 25, 0.747);
    box-shadow: 0px 0px 15px rgb(19, 18, 18);
}

.list-view-container::-webkit-scrollbar {
    width: 13px; 
}
    
.list-view-container::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 5px; 
    border: 1px solid black;
}

.list-view-card-item {
    background-color: transparent;
    display: flex;
    width:100%;
    height: 200px;
    align-items: center;
    transition: background-color 0.25s ease-in
}

.list-view-card-item:hover {
    background-color: rgba(128, 128, 128, 0.24);
}

.list-view--card-image {
    max-height: 200px;
    margin-bottom: 10px;
    width: 10%;
    padding-right: 2%;
}

.list-view-card-name {
    width: 20%;
    font-size: 20px;
    overflow-y: auto;
    height: 100%;
    padding-right: 5%;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.list-view-card-description {
    width: 70%;
    font-size: 15px;
    padding-right: 5%;
    height: 100%;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.my-card-owned-amount-container-list {
    display: flex;
    width: 10%;
    height: 10%;
    align-items: center;
}

.my-card-owned-amount-number-list {
    font-size: 15px;
    margin-right: 10%;
    margin-left: 5%
}

.my-card-owned-amount-change-container-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 10%
}

/* Collection card owned amount styling*/
.my-card-owned-amount-container {
    display: flex;
    width: 60%;
    height: fit-content;
    align-items: center;
}

.my-card-owned-amount-header {
    color: goldenrod;
    font-size: 15px;
    width: fit-content;
    text-align: center;
    margin-right: 5px;
}

.my-card-owned-amount-number {
    color: gray;
    font-size: 15px;
    margin-right: 20%;
}

.my-card-owned-amount-change-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    margin-right: 20%
}

.my-card-owned-amount-increase-icon,
.my-card-owned-amount-decrease-icon {
    height: 20px;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer
}

.my-card-owned-delete-icon {
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 0.582);
    cursor: pointer
}

/* Styling for selected Card */
.My-Card-selected-back-icon {
    position: relative;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: none;
    color: gold;
    cursor: pointer;
    left: 94%;
}

.My-Card-selected-card-item {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 620px;
    display: flex;
}

/* Scrollbar styling */
.My-Card-selected-card-item-left::-webkit-scrollbar {
    width: 13px; 
}
    
.My-Card-selected-card-item-left::-webkit-scrollbar-thumb {
    background-color: goldenrod; 
    border-radius: 5px; 
    border: 1px solid black;
}

.My-Card-selected-card-name {
    position: relative;
    color: goldenrod;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10%;
}

.My-Card-selected-card-name {
    position: relative;
    color: goldenrod;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10%;
}

.My-card-selected-card-image {
    position: relative;
    max-height: 500px;
    width: auto;
}

.My-Card-selected-owned-amount {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(65, 57, 57, 0.356);
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    color: gold;
    width: fit-content;
}

.My-Card-selected-card-item-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    padding-right: 5%;
    max-height: 100%;
    overflow-y: auto
}

.My-Card-selected-card-type-container,
.My-Card-selected-card-race-container,
.My-Card-selected-card-attribute-container,
.My-Card-selected-card-archetype-container,
.My-Card-selected-card-level-container,
.My-Card-selected-card-linkval-container,
.My-Card-selected-card-pendscale-container,
.My-Card-selected-card-atk-container,
.My-Card-selected-card-def-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.My-Card-selected-card-type-header,
.My-Card-selected-card-race-header,
.My-Card-selected-card-attribute-header,
.My-Card-selected-card-archetype-header,
.My-Card-selected-card-level-header,
.My-Card-selected-card-linkval-header,
.My-Card-selected-card-pendscale-header,
.My-Card-selected-card-atk-header,
.My-Card-selected-card-def-header {
    background-color: rgba(65, 57, 57, 0.356);
    padding: 10px;
    border-radius: 10px;
    color: gold;
    margin-right: 10px;
}