/* Searchbar styling */
.search-bar-container {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  position: relative;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 20px;
  width: 100%;
  margin-left: 5px;
}

.clear-button {
  cursor: pointer;
  background: none;
  border: none;
  color: black; 
  margin-right: 25px; 
}

.search-icon {
  margin-right: 8px; 
}

.search-input {
  display: flex;
  align-items: center;
  width: 100%;
}

input:focus {
  outline: none;
}

.suggestionbox {
  width: 100%;
  display: flex;
  background-color: rgb(45, 43, 43)
}

/* Pagination */
.pagination {
  background-color: rgb(85, 78, 78);
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: goldenrod;
  border: 2px solid black;
  text-align: center;
  font-size: 12px;
}

.button-right {
  background-color: rgba(218, 165, 32, 0.575);
  width: 30px;
  border-radius: 7px;
  position: relative;
}

.button-left {
  background-color: rgba(218, 165, 32, 0.575);
  width: 30px;
  border-radius: 7px;
  position: relative;
}

/*error*/
.errormessage {
  background-color: transparent;
  text-align: center;
  position: absolute;
  margin-top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: calc(15px + 0.390625vw);
  font-weight: bold;
  color: white;
  }

.suggestion-container::-webkit-scrollbar {
  width: 13px; 
}
  
.suggestion-container::-webkit-scrollbar-thumb {
  background-color: goldenrod; /* Color of the thumb */
  border-radius: 5px; /* Roundness of the thumb */
  border: 1px solid black
}
  
.suggestion-container::-webkit-scrollbar-track {
  background-color: rgb(45, 43, 43);
}
  
/* mobile devices */
@media screen and (width <= 480px) {

  /* Searchbar styling */
  .Input-Wrapper {
    background-color: goldenrod;
    width: 90%;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: left;
  }

  /* Suggestions styling */

  .suggestion-container {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    margin-top: 120px;
    width: 90%;
    border: 2px solid gray;
  }

  .suggestion-name-container {
    width: 100%;
    height: fit-content;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: goldenrod;
    font-weight: bold;
    font-size: calc(15px + 0.390625vw);
  }

  .suggestion-image {
    width: 30px;
    min-height: 30px;
    position: relative;
  }

  /*suggestion left styling*/

  .suggestion-left-container {
    background-color: rgb(45, 43, 43);
    width: 100%;
    position: relative;
    margin-top: 100%;
    height:fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px 0.5px orange;
  }

  .suggestion-left {
    background-color: rgb(45, 43, 43);
    width: auto;
    height: 145px;
    position: relative;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 5px;
    border: 1px solid darkgoldenrod
  }

  .suggestion-name-left-container {
    position: relative;
    background-color: rgb(68, 65, 65);
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 30px;
    max-width: fit-content;
    font-size: 13px;
    overflow-x: hidden;
    font-weight: bold;
    color: goldenrod;
    top: -135px;
    left: 95px;
    padding:5px;
    border-radius: 5px;
    border: 2px solid black;
  }
  .suggestion-image-left {
    height: 120px;
    width: 90px;
    position: relative;
  }

  .suggestion-carddata-container {
    background-color: rgb(68, 65, 65);
    color: goldenrod;
    font-size: 13px;
    top: 40px;
    left: 110px;
    overflow-y:hidden;
    width: 67%;
    max-height: 95px;
    position: absolute;
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid white;
  } 

  .card-description {
    max-height: 50px;
    overflow-x: hidden;
    border: 1px solid black;
    padding-left: 3px;
  }

  .cardstats {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }

}

/* medium Devices (iPads, Landscape tablets) */
@media screen and (481px <= width <= 768px) {
/* Searchbar styling */
.Input-Wrapper {
  background-color: goldenrod;
  width: 90%;
  height: 50px;
  border-radius: 15px;  
  padding-left: 20px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: left;
}

/* Suggestions styling */

.suggestion-container {
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  margin-top: 120px;
  width: 90%;
  border: 2px solid gray;
}

.suggestion-name-container {
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center; 
  display: flex;
  color: goldenrod;
  font-weight: bold;
  font-size: calc(15px + 0.390625vw);
}

.suggestion-image {
  width: 50px;
  min-height: 60px;
  position: relative;
}

/*suggestion left styling*/

.suggestion-left-container {
  background-color: rgb(45, 43, 43);
  width: 96%;
  position: relative;
  margin-top: 70%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 0 15px 0.5px orange;
}

.suggestion-left {
  background-color: rgb(45, 43, 43);
  width: auto;
  height: 200px;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 1px solid darkgoldenrod
}

.suggestion-name-left-container {
  position: relative;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 30px;
  max-width: fit-content;
  font-size: 15px;
  overflow-x: hidden;
  font-weight: bold;
  color: goldenrod;
  top: -175px;
  left: 125px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black;
}
.suggestion-image-left {
  height: 170px;
  width: auto;
  position: relative; 
}

.suggestion-carddata-container {
  background-color: rgb(68, 65, 65);
  color: goldenrod;
  font-size: 13px;
  top: 55px;
  left: 140px;
  overflow-y:hidden;
  width: 68%;
  position: absolute;
  height: 135px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
} 
.cardtype {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-description {
  max-height: 80px;
  overflow-x: hidden;
  border: 1px solid black;
  padding-left: 3px;
}

.cardstats {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  }

}
/* medium-large devices (laptops and small screen) */
@media screen and (769px <= width <= 1024px) {
/* Searchbar styling */
.Input-Wrapper {
  background-color: goldenrod;
  width: 90%;
  height: 50px;
  border-radius: 15px;  
  padding-left: 20px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: left;
}


/* Suggestions styling */

.suggestion-container {
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  margin-top: 120px;
  width: 90%;
  border: 2px solid gray;
}

.suggestion-name-container {
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center; 
  display: flex;
  color: goldenrod;
  font-weight: bold;
  font-size: calc(15px + 0.390625vw);
}

.suggestion-image {
  width: 50px;
  min-height: 60px;
  position: relative;
}

/*suggestion left styling*/

.suggestion-left-container {
  background-color: rgb(45, 43, 43);
  width: 92%;
  position: relative;
  margin-top: 50%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 0 15px 0.5px orange;
}

.suggestion-left {
  background-color: rgb(45, 43, 43);
  width: auto;
  height: 200px;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 1px solid darkgoldenrod
}

.suggestion-name-left-container {
  position: relative;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 30px;
  max-width: fit-content;
  font-size: 15px;
  overflow-x: hidden;
  font-weight: bold;
  color: goldenrod;
  top: -175px;
  left: 125px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black;
}
.suggestion-image-left {
  height: 170px;
  width: auto;
  position: relative; 
}

.suggestion-carddata-container {
  background-color: rgb(68, 65, 65);
  color: goldenrod;
  font-size: 13px;
  top: 55px;
  left: 140px;
  overflow-y:hidden;
  width: 70%;
  position: absolute;
  height: 135px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
} 
.cardtype {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-description {
  max-height: 80px;
  overflow-x: hidden;
  border: 1px solid black;
  padding-left: 3px;
  margin-bottom: 5px;
}

.cardstats {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

}

/* Large devices (laptops/desktops) */
@media screen and (1025px <= width <= 1200px) {

/* Searchbar styling */
.Input-Wrapper {
  background-color: goldenrod;
  width: 45%;
  height: 50px;
  border-radius: 15px;  
  padding-left: 20px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: left;
}


/* Suggestions styling */

.suggestion-container {
  max-height: 250px;
  overflow-y: auto;
  position: relative;
  margin-top: 120px;
  width: 45%;
  border: 2px solid gray;
}

.suggestion-name-container {
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center; 
  display: flex;
  color: goldenrod;
  font-weight: bold;
  font-size: calc(15px + 0.390625vw);
}

.suggestion-image {
  width: 50px;
  min-height: 50px;
  position: relative;
}

/*suggestion left styling*/

.suggestion-left-container {
  background-color: rgb(45, 43, 43);
  width: 50%;
  position: relative;
  margin-top: 50px;
  left: 2%;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 15px 0.5px orange;
}

.suggestion-left {
  background-color: rgb(45, 43, 43);
  width: auto;
  height: 200px;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 1px solid darkgoldenrod
}

.suggestion-name-left-container {
  position: relative;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 30px;
  max-width: fit-content;
  font-size: 15px;
  overflow-x: hidden;
  font-weight: bold;
  color: goldenrod;
  top: -175px;
  left: 125px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black;
}
.suggestion-image-left {
  height: 170px;
  width: auto;
  position: relative;  
}

.suggestion-carddata-container {
  background-color: rgb(68, 65, 65);
  color: goldenrod;
  font-size: 13px;
  top: 55px;
  left: 140px;
  overflow-y:hidden;
  width: 70%;
  position: absolute;
  height: 135px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
} 
.cardtype {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-description {
  max-height: 80px;
  overflow-x: hidden;
  border: 1px solid black;
  padding-left: 3px;
  margin-bottom: 5px;
}

.cardstats {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
}

/* Extra large laptops */
@media screen and (1201px <= width <= 1536px) {
/* Searchbar styling */

.Input-Wrapper {
  background-color: goldenrod;
  width: 45%;
  height: 50px;
  border-radius: 15px;  
  padding-left: 20px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: left;
}

/* Suggestions styling */

.suggestion-container {
  max-height: 270px;
  overflow-y: scroll;
  position: relative;
  margin-top: 120px;
  width: 45%;
  border: 2px solid gray;
}

.suggestion-name-container {
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: goldenrod;
  font-weight: bold;
  font-size: calc(15px + 0.390625vw);
}

.suggestion-image {
  width: 60px;
  min-height: 70px;
  position: relative;
}

/*suggestion left styling*/

.suggestion-left-container {
  background-color: rgb(45, 43, 43);
  width: 50%;
  position: relative;
  margin-top: 50px;
  left: 2%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px 0.5px orange;
}

.suggestion-left {
  background-color: rgb(45, 43, 43);
  width: auto;
  height: 200px;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 1px solid darkgoldenrod
}

.suggestion-name-left-container {
  position: relative;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 30px;
  max-width: fit-content;
  font-size: 15px;
  overflow-x: hidden;
  font-weight: bold;
  color: goldenrod;
  top: -175px;
  left: 125px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black;
}
.suggestion-image-left {
  height: 170px;
  width: auto;
  position: relative;
  
}

.suggestion-carddata-container {
  background-color: rgb(68, 65, 65);
  color: goldenrod;
  font-size: 13px;
  top: 55px;
  left: 140px;
  overflow-y:hidden;
  width: 78%;
  position: absolute;
  height: 135px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
} 
.cardtype {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-description {
  max-height: 80px;
  overflow-x: hidden;
  border: 1px solid black;
  padding-left: 3px;
  margin-bottom: 5px;
}

.cardstats {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

}

/* TV and large desktops */
@media screen and (1537px <= width) { 
/* Searchbar styling */
.Input-Wrapper {
  background-color: goldenrod;
  width: 45%;
  height: 50px;
  border-radius: 15px;  
  padding-left: 20px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: left;
}

/* Suggestions styling */
.suggestion-container {
  max-height: 270px;
  overflow-y: auto;
  position: relative;
  margin-top: 120px;
  width: 45%;
  border: 2px solid gray;
}

.suggestion-name-container {
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: goldenrod;
  font-weight: bold;
  font-size: calc(15px + 0.390625vw);
}

.suggestion-image {
  width: 60px;
  min-height: 70px;
  position: relative;
}

/*suggestion left styling*/

.suggestion-left-container {
  background-color: rgb(45, 43, 43);
  width: 50%;
  position: relative;
  height: fit-content;
  border-radius: 25px;
  margin-top: 50px;
  left: 2%;
  padding: 15px;
  box-shadow: 0 0 15px 0.5px orange;
}

.suggestion-left {
  background-color: rgb(45, 43, 43);
  width: auto;
  height: 200px;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: 1px solid darkgoldenrod
}

.suggestion-name-left-container {
  position: relative;
  background-color: rgb(68, 65, 65);
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 30px;
  max-width: fit-content;
  font-size: 15px;
  overflow-x: hidden;
  font-weight: bold;
  color: goldenrod;
  top: -175px;
  left: 125px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black;
}
.suggestion-image-left {
  height: 170px;
  width: auto;
  position: relative;
}

.suggestion-carddata-container {
  background-color: rgb(68, 65, 65);
  color: goldenrod;
  font-size: 13px;
  top: 55px;
  left: 140px;
  overflow-y:hidden;
  width: 78%;
  position: absolute;
  height: 135px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
} 
.cardtype {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-description {
  max-height: 80px;
  overflow-x: hidden;
  border: 1px solid black;
  padding-left: 3px;
  margin-bottom: 5px;
}

.cardstats {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

}