

.Searchbar-title {
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(45, 43, 43);
    height: 100px;
    position: relative;
    text-align: center;
    line-height: 100px;
    color: goldenrod;
}