@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: 0, 2%, 13%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

/* || GENERAL STYLES */
body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(77, 72, 72);
  overflow: visible;
  
}



.fatextmargin {
  margin-left: 10px;
}


/* || PAGES */

.public
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  left: 30px;
  right: 30px;

}

.text-scale {
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
}



.public {
  flex-grow: 1;
  text-align: center;
  min-height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: var(--common-fontS_s);
  padding: 12px 0;
}

.public__main {
  flex-grow: 1;
  padding: 10px;
  margin-top: 20px; /* Add margin to create space under the header */
  border: 2px solid var(--BORDER-COLOR);
  width: 100%;
  position: relative; /* Use relative positioning */
  z-index: 1;
}


.public__addr {
  margin-top: 1em;
}


/* || DASH HEADER, CONTAINER & FOOTER */

.dash-container {
  padding: 1em;
}

section {
  position: relative;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  :root {
    --header: 0, 5%, 92%;
    --headerbutton: 0, 7%, 92%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --background1: 100, 100%, 100%;
    --background2: 100, 100%, 100%;
    --background3: 200, 100%, 50%;
    --background4: 200, 100%, 50%;
    --background5: 0, 0%, 93%;
    --profile:  100, 100%, 100%;
    --profilebackground: 0, 0%, 90%;
    --shadow-color: 0, 0%, 5%;
    --filterbutton: 200, 100%, 50%;
    --text: 0, 0%, 5%;
    --homepagegradient1: 232.2, 100%, 65.3%;
    --homepagegradient2: 189.7, 92.4%, 78.2%; 
    --homepagegradient3: 189.7, 92.4%, 78.2%;
    --ownedcardcollection: 0, 0%, 90%;
    --editdeckdraganddropbackground: 0, 0%, 90%;
    --atkdefcomponent: 100, 100%, 100%;
    --border: 0, 5%, 92%
  }
 
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary: 0 0% 98%;
    --header: 0 7% 11%;
    --headerbutton: 0 7% 20%;
    --background1:  0, 2%, 13%;
    --background2: 0, 0%, 0%;
    --background3: 43, 77%, 49%;
    --background4: 0,4%,10%;
    --background5: 0, 4%, 10%;
    --profile: 0, 0%, 5%;
    --profilebackground: 0 7% 11%;
    --shadow-color: 0, 0%, 40%;
    --filterbutton: 217, 1%, 27%;
    --text: 100, 100%, 100%;
    --homepagegradient1: 211, 12%, 48%;
    --homepagegradient2: 0, 0%, 0%; 
    --homepagegradient3: 43, 77%, 49%; 
    --ownedcardcollection:  0, 2%, 10%;
    --editdeckdraganddropbackground: 0, 2%, 11%;
    --atkdefcomponent: 0, 0%, 20%;
    --border: 240, 4%, 16%
  }
}
