@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

/* || GENERAL STYLES */
body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(77, 72, 72);
  overflow: visible;
  
}

input,
button,
textarea,
select {
  font: inherit;
}



.fatextmargin {
  margin-left: 10px;
}


/* || PAGES */

.public
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  left: 30px;
  right: 30px;

}



.public {
  flex-grow: 1;
  text-align: center;
  min-height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: var(--common-fontS_s);
  padding: 12px 0;
}

.public__main {
  flex-grow: 1;
  padding: 10px;
  margin-top: 20px; /* Add margin to create space under the header */
  border: 2px solid var(--BORDER-COLOR);
  width: 100%;
  position: relative; /* Use relative positioning */
  z-index: 1;
}


.public__addr {
  margin-top: 1em;
}


/* || DASH HEADER, CONTAINER & FOOTER */

.dash-container {
  padding: 1em;
}

section {
  position: relative;
  color: #fff;
}


/* mobile devices */
@media screen and (max-width: 480px) {


}

/* medium Devices (iPads, Landscape tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {


}

/* medium-large devices (laptops and small screen) */
@media screen and (min-width: 769px) and (max-width: 1024px) {


}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {


}

/* Extra large laptops */
@media screen and (min-width: 1201px) and (max-width: 1520px) {


}

/* TV and large desktops */
@media screen and (min-width: 1521px) {


}