

.suggestion-name-left-container {
  position: relative;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: fit-content;
  top: -185px;
  left: 135px;
  padding:5px;
  border-radius: 5px;
  border: 2px solid black
}
.suggestion-image-left {
  height: 180px;
  width:124px;
  position: relative;
  border: 2px solid yellow
  
}
.suggestion-carddata-container {
  background-color: gray;
  top: 70px;
  left: 150px;
  width: fit-content;
  position: absolute;
  height: 120px;
}
.suggestion {
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.suggestion-container {
  max-height: 450px;
  overflow-y: auto;
  position: relative;
  margin-top: 220px;
  width: 700px;
  border: 3px solid black;
}



.suggestionbox {
  width: 100%;
  display: flex
}

.suggestion-image {
  width: 50px;
  height: 50px;
  position: relative;
}


.suggestion-name-container {
  width: 600px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.suggestion-name {
  color: black;
  font-weight: bold;
}
  
.suggestion-list {
    height: auto;
    width: 600px;
    background-color: darkgray;
    padding: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
  
  .placeholder-box {
    background-color: gray;
    width: 846px;
    height: 594px;
    position: absolute;
    top: 240px;
    left: 850px;
    border-radius: 25px;
    border: 2px solid black;
  }

  
  .errormessage {
    background-color: transparent;
    text-align: center;
    position: absolute;
    margin-top: 210px;
    left: 270px;
    padding: 5px;
    color: white;
  }
  
  .clear-button {
    cursor: pointer;
    background: none;
    border: none;
    color: black; /* Adjust the color as needed */
    margin-right: 25px; /* Adjust the margin as needed */
  }

  .search-icon {
    margin-right: 8px; /* Adjust the margin as needed */
  }
  
  /* Style the container for the search input */
  .search-input {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: royalblue;
  }
  

/* mobile devices */
@media screen and (max-width: 480px) {

  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }
}

/* medium Devices (iPads, Landscape tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {

  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }
}

/* medium-large devices (laptops and small screen) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* Searchbar styling */
  .search-bar-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
    top: 100px;
  }

  .Input-Wrapper {
    background-color: lightblue;
    width: 370px;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: left;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 13px;
    width: 100%;
    margin-left: 5px;
  }
  
  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  /* Searchbar styling */
  .search-bar-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
    top: 100px;
  }

  .Input-Wrapper {
    background-color: lightblue;
    width: 400px;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: left;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 15px;
    width: 100%;
    margin-left: 5px;
  }
  
  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }

  /* Suggestions styling */
  

  .suggestion-left {
    background-color: white;
    width: auto;
    height: 220px;
    position: relative;
    padding: 15px;
    border-radius: 25px;
  
  }
  
  .suggestion-left-container {
    background-color: rgb(68, 65, 65);
    width: 500px;
    position: relative;
    left: 800px;
    top: -500px;
    padding: 15px;
  }

}

/* Extra large laptops */
@media screen and (min-width: 1201px) and (max-width: 1536px) {

  /* Searchbar styling */
  .search-bar-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
    top: 100px;
  }

  .Input-Wrapper {
    background-color: lightblue;
    width: 650px;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: left;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
  }
  
  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }

  /* Suggestions styling */
  

  .suggestion-left {
    background-color: white;
    width: auto;
    height: 220px;
    position: relative;
    padding: 15px;
    border-radius: 25px;
  
  }
  
  .suggestion-left-container {
    background-color: rgb(68, 65, 65);
    width: 600px;
    position: relative;
    left: 800px;
    top: -500px;
    padding: 15px;
  }


}

/* TV and large desktops */
@media screen and (min-width: 1537px) {

  /* Searchbar styling */
  .search-bar-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
    top: 100px;
  }

  .Input-Wrapper {
    background-color: lightblue;
    width: 700px;
    height: 50px;
    border-radius: 15px;  
    padding-left: 20px;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: left;
  }
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
  }
  
  /* Pagination */
  .pagination {
    background-color: lightgray;
    width: 220px;
    position: relative;
    left:370px;
    top: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
  }

  .button-right {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    left: 10px
  }
  
  .button-left {
    background-color: gray;
    width: 30px;
    border-radius: 7px;
    position: relative;
    margin-left: -10px;
    margin-right: 10px;
  }


  /* Suggestions styling */
  
  .suggestion-left {
    background-color: white;
    width: 900px;
    height: 220px;
    position: relative;
    padding: 15px;
    border-radius: 25px;
  
  }
  
  .suggestion-left-container {
    background-color: rgb(68, 65, 65);
    width: 900px;
    position: relative;
    left: 800px;
    top: -500px;
    padding: 15px;
  }

}