/* footer bar styling */
footer {
    background: rgb(51, 48, 48);
    bottom: 0;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

/* medium Devices (iPads, Landscape tablets) */
@media screen and (width <= 768px) {
    .footer-container {
        background-color: #333;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        color: #fff;
       
        align-items: center;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* footer-link div element styling */
    .footer-links {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .footer-links li {
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        width: auto
    }
}

/* medium-large devices (laptops and small screen) */
@media screen and (769px <= width) {
    .footer-container {
        background-color: #333;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        color: #fff;
        padding: 20px;
        font-size: calc(15px + 0.390625vw);
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* footer-link div element styling */
    .footer-links {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .footer-links li {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
        width: auto
    }

    .footer-links li:last-child {
        border-right: none; /* Remove the border from the last item */
    }
}




/* TV and large desktops */
@media screen and (1537px <= width) {

}