/*dash header nav button styling*/

.menu_card_search, 
.banlist, 
.my-cards, 
.logins,
.my-decks,
.profile {
    background: transparent;
    color: white;
    border: transparent;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    width: 120px;
    height: 70px;
    text-align: center;
    margin-right: 10px;
}

.menu_card_search:hover, 
.banlist:hover, 
.my-cards:hover, 
.logins:hover,
.my-decks:hover,
.profile:hover {
    border-bottom: 2px solid white;
    color: gold;
}

